<div class="header row">
    <div class="col-xs-12 d-block d-sm-none text-center">
        <h1 class="text-center">{{ page.title }}</h1>
        <a class="github-button" href="https://github.com/finspin/gotodevops.org" data-size="large"
           data-show-count="false" aria-label="Contribute to finspin/gotodevops.org on GitHub">Add conference</a>
        <br>
        <small>
            <a href="https://www.subscribepage.com/a1m1e5">Get notified of new conferences</a>
        </small>
    </div>
    <div class="col-md-8 d-none d-sm-block">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="col-md-4 d-none d-sm-block">
        <div class="pull-right">
            <a class="github-button" href="https://github.com/finspin/gotodevops.org" data-size="large"
               data-show-count="false" aria-label="Contribute to finspin/gotodevops.org on GitHub">Add conference</a>
            <br>
            <small>
            <a href="https://www.subscribepage.com/a1m1e5">Get notified of new conferences</a>
            </small>
        </div>
    </div>
</div>
